# Created by https://www.gitignore.io

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

### Composer ###
composer.phar
composer.lock
vendor/

# PHPUnit
phpunit.xml
.phpunit.result.cache
